@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
}

@media screen and (min-width: 0px) and (max-width: 899px) {
  .NewsletterSignUp-image { display: none };
  .ImageInfo-image { width: '100%' }
  #about-img1 { width: 100%; }
}

@media screen and (min-width: 900px) {
  .NewsletterSignUp-image { display: block };
  #about-img1 { max-width: 600px; }
}